<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do App</title>
    <link rel="stylesheet" href="../fonts/fontawessome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-gray-200">
   
    <div id="before-form-cont" class="w-11/12 my-6 mx-auto flex">
        <div class="w-2/5">
            <a class="text-2xl" href="index.html"> <i class="fas fa-arrow-left text-indigo-800"></i> </a>
        </div>

        <p class="sm:text-3xl text-gray-500 w-1/2">Add New Task</p>
    </div>

    <div class="text-center text-5xl sm:text-7xl my-8">
        <i class="fas fa-user-circle text-gray-500"></i>
    </div>

    <div class="" id="form-container">
        <form id="form" class="w-11/12 mx-auto" action="">
            <div class="my-5">
                <input class="w-full lg:w-9/12 p-5 pb-0 border-b-2 border-gray-600 rounded-sm bg-transparent outline-none" type="text" name="" id="form-title" placeholder="Task tittle">
            </div>

          <div class="my-5">
            <textarea class="w-full lg:w-9/12 px-5 pb-0 border-b-2 border-gray-600 rounded-sm bg-transparent outline-none" name="" id="form-discription" cols="25" rows="5" placeholder="Task discription"></textarea>
          </div>

           <div class="my-5">
            <input class="w-full lg:w-9/12 p-5 pb-0 border-b-2 border-gray-600 rounded-sm bg-transparent outline-none" type="date" name="" id="form-date" >
           </div>

            <button id="form-btn" type="submit" class="bg-green-600 hover:bg-green-500 p-5 text-white sm:w-1/2 md:w-1/3 mt-5 rounded-xl w-full">Add Task</button>
        </form>
    </div>
    
    
    <!-- <script src="lib.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>